*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.App{
  background-image: url('./Images/WhatsApp\ Image\ 2024-12-05\ at\ 12.01.56\ AM.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
width: 98.7vw;


}